<% 
  const isMember = user && user?.role !== "USER";
  const isAdmin = user?.role === "ADMIN"

  const getRole = (role) => {
    if (role === "ADMIN") return " admin";
    else if (role === "MEMBER") return " member";
    else return;
  }
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only | Home</title>
    <%- include("partials/styles", { style: "index" }) %>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <main>
      <h1 class="page-heading">Messages</h1>
      <% if (messages.length === 0) { %>
        <div class="empty-feed">
          <h2>No messages</h2>
          <p>Start the discussion with a new message</p>
          <div>
            <a href="/messages/send">Send Message</a>
          </div>
        </div>
      <% } else { %>
        <div class="feed">
          <% messages.forEach(message => { %>
            <div class="message">
              <div class="message-header">
                <div>
                  <div class="message-author<%= getRole(message.role) %>"><%= isMember || user?.id === message.user_id ? message.author : '*****' %></div>
                  <div class="small">@<%= isMember || user?.id === message.user_id ? message.username : '*****' %></div>
                </div>
                <% if (isAdmin) { %>
                  <form action="/messages/<%= message.id %>/delete" method="post">
                    <button type="submit" class="button danger small">Delete</button>
                  </form>
                <% } %>
              </div>
              <div>
                <div class="message-title"><%= message.title %></div>
                <div><%= message.content %></div>
              </div>
            </div>
          <% }); %>
        </div>
      <% } %>
    </main>
  </body>
</html>
