<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only | Send Message</title>
    <%- include("partials/styles", { style: "form" }) %>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <main>
      <h1>Send Message</h1>
      
      <div class="form-container">
        <%- include("partials/errors.ejs") %>

        <form action="/messages/send" method="post">
          <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= locals.data?.title %>" />
          </div>

          <div>
            <label for="content">Content</label>
            <textarea name="content" id="content"><%= locals.data?.content %></textarea>
          </div>

          <div>
            <button type="submit" class="button action">Send Message</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
