<%
  const isMember = user.role === "MEMBER";
  const action = isMember ? "Gain Admin Access" : "Join the Club"
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only | <%= action %></title>
</head>
<body>
  <%- include("partials/navbar") %>
  <main>
    <h1><%= action %></h1>

    <div class="form-container">
      <%- include("partials/errors.ejs") %>
    
      <form action="/upgrade-role" method="post">
        <div>
          <label for="passcode">Passcode</label>
          <input type="password" name="passcode" id="passcode">
        </div>

        <div>
          <button><%= action %></button>
        </div>
      </form>
    </div>
  </main>
</body>
</html>